#container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 960px;
}

.grid-item{

    transition: .5s all;
    height: 50px; 
    width: 50px;
    background-color: blue;
}


.red{

    background-color: red;
}